html {
  scroll-behavior: smooth;
}

/* DECORATION */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

hr.solid1 {
  border: none;
  border-top: 1px solid;
  color: #ccc7c7;
}

hr.dotted1 {
  border: none;
  border-top: 1px dotted #827f7f;
  width: 100%;
}

hr.dotted2 {
  border: none;
  border-top: 1px dotted #827f7f;
  width: 50%;
}

hr.dotted3 {
  border: none;
  border-top: 1px dotted #827f7f;
  width: 25%;
}

blockquote {
  border-left: 1px dotted #827f7f;
  padding-left: 10px;
  margin-left: 0px;
}

.paragraphblock {
  border-left: 50px solid #00000000;
  margin-right: 100px;
}

.counter {
  /* border-radius: 10px;
    border: solid 1px #ccc7c7; */
  width: 100px;
  padding-top: 2px;
  margin: auto;
  text-align: center;
}

.mp3 {
  max-width: 100%;
}

.mp3container {
  font-size: 14px;
  font-family: ms ui gothic;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp3textplayercontainer {
  max-width: 75%;
}

/* .mp3textplayercontainer {
    max-width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    border-left: dotted 1px #262020;
  } */

.scrolltextcontainer {
  background-color: #ece6ce5f;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc7c7;
  border-radius: 5px;
  overflow: hidden;
}

/*.scrolltext {*/
/*  -moz-transform: translateX(100%);*/
/*  -webkit-transform: translateX(100%);*/
/*  transform: translateX(100%);*/
/*  -moz-animation: my-animation 15s linear infinite;*/
/*  -webkit-animation: my-animation 15s linear infinite;*/
/*  animation: my-animation 15s linear infinite;*/
/*}*/

.stilltext {
  font-size: 14px;
  font-family: ms ui gothic, Helvetica, Arial, sans-serif;
}

.shrinecontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px dotted #827F7F; */
  border-radius: 20px;
}

.shrinecontainer a {
  background-color: #00000000;
}

.shrinetextcontainer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc7c7;
}

.occontainer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc7c7;
}

.occontainer img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.occontainerflex {
  display: inline-flex;
}

.neopetscontainer {
  display: inline;
}

.neopetscontainer img {
  max-width: 100%;
}

.shrineimg:hover {
  rotate: 5deg;
}

.shrinecontainer ul {
  text-align: left;
}

@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.resourcescontainer {
  display: inline-grid;
  width: 300px;
  margin-bottom: 10px;
}

.resourcescontainer a {
  background-color: #e8e2cc9d;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
}

.resourcescontainer a:hover {
  background-color: #e8e2cc;
}

.artpreviewbg {
  background-color: transparent;
}

/* GENERAL FONT */
a {
  font-family: ms ui gothic, Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  color: #955f5f;
  background-color: #e8e2cc90;
}

.explorelist a {
  background-color: #ffffff00;
}

.explorelist a:hover {
  background-color: #e8e2cc90;
}

a:hover {
  color: #2c2626;
}

h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #2c2626;
}

p,
ul {
  font-family: ms ui gothic, Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.25px;
  color: #2c2626;
}

.changelogtext p {
  margin-top: 0;
  margin-bottom: 0;
}

.changelogtext ul {
  padding-left: 30px;
  margin-top: 0;
}

.changelogtext li::marker {
  content: "â†³ ";
  font-size: 20px;
}

.changelogtitle h2::after {
  content: url("https://web.archive.org/web/20020328192317/http://geocities.com:80/rinkn_jp/kaomoji/memo.gif");
  padding-left: 2px;
}

.explorelist {
  font-size: 20px;
  padding-bottom: 10px;
}

/* SPECIALIZED FONT */
.navbar a {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #604242;
  background-color: #e8e2cc;
  margin: 10px;
}

.navbar p {
  font-size: 20px;
  margin: 0;
  color: #ccc7c78a;
}

.navbar a:hover {
  color: #955f5f;
}

/* .diarynavbar a {
    font-size: 18px;
    letter-spacing: .5px;
    color: #604242;
    margin: 10px;
  } */

.diarydate {
  background-color: #ccc7c78a;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.paragraph p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.aboutcontainer p {
  margin-top: 17px;
  margin-bottom: 17px;
}

iframe h1,
h2,
h3 {
  font-family: ms ui gothic, Helvetica, Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.footerbar p {
  font-size: 15px;
  color: #604242;
}

.counter a {
  background-color: transparent;
}

.changelogtext ul {
  font-size: 17px;
}

/* GENERAL PAGE LAYOUT */
.content {
  max-width: 450px;
  margin: auto;
}

.explorecontent {
  max-width: 600px;
  margin: auto;
}

.main {
  /* border: dotted 1px #262020; */
  font-size: 16px;
  padding: 0px 10px;
}

.exploremain {
  border: dotted 1px #262020;
  font-size: 16px;
  padding: 0px 10px;
  max-width: 175px;
  margin: auto;
  box-shadow: 10px 10px 0px #ccc7c7;
}

.diarymain {
  border: dotted 1px #262020;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 10px 0px #ccc7c7;
  height: 520px;
}

.diaryscrollbox {
  height: 83%;
  overflow: auto;
  border-top: solid 1px #ccc7c780;
  border-bottom: solid 1px #ccc7c780;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding-top: 50px;
}

/* .navbarlinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    background-color: #e8e2cce0;
    padding-top: 2px;
    padding-bottom: 2px;
  } */

.navbarlinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  /* background-color: #e8e2cce0; */
}

.changelog {
  border: solid 1px #ccc7c7;
  border-radius: 10px;
  width: 85%;
}

.artcontainer {
  margin-bottom: 10px;
}

.footer {
  padding: 20px;
}

.footerbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  background-color: #e8e2cc71;
  /* background-color: #e8e2cc; */
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
}

/* IMAGES */
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.artpreview {
  max-width: 100%;
  width: 85px;
  height: auto;
  border: solid 3px transparent;
}

.artpreview:hover {
  border-color: #a79391;
}

/* RESPONSIVE STYLING */

.mobileshow {
  display: none;
}

@media screen and (max-width: 561px) {
  h1,
  h2,
  h3 {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #2c2626;
  }

  p,
  ul {
    font-family: ms ui gothic, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #2c2626;
  }

  .footerbar p {
    font-size: 13px;
    color: #604242;
  }

  .mobilehide {
    display: none;
  }

  .mobileshow {
    display: initial;
  }

  .header {
    padding-top: 5px;
  }

  .mp3textplayercontainer {
    max-width: 100%;
  }

  .stilltext {
    font-size: 14px;
    font-family: ms ui gothic, Helvetica, Arial, sans-serif;
  }

  .content {
    max-height: 500px;
  }

  .main {
    height: 360px;
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-bottom: 20px; */
  }

  .aboutmain {
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .exploremain {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .diarymain {
    height: 345px;
  }

  .diaryscrollbox {
    height: 80%;
  }
}

@media screen and (max-width: 561px) {
  .body {
    margin-top: 40%;
    width: 100%;
  }
}
